{{#if products}}
<table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Imagen</th>
    </tr>
    {{#each products}}
    <tr>
        <td>{{this.title}}</td>
        <td>{{this.price}}</td>
        <td><img src={{this.image}} alt="Imagen"></td>
    </tr>
    {{/each}}
</table>
{{else}}
    <h3>No hay productos para mostrar</h3>
{{/if}}
<a href="/">Mostrar formulario</a>